<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title>Cautious films {{ (page.metaTitle is defined) ? ' - ' ~ page.metaTitle : ''}}</title>          
  <meta name="description" content="{{ (page.metaDescription is defined) ? page.metaDescription : 'Cautious Films'}}">  
  <meta name="keywords" content="{{ (page.metaKeywords is defined) ? page.metaKeywords : 'Cautious Films'}}">    
  
  <meta name="author" content="humans.txt">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <link href="/css/video-js.css">
  <script src="/js/libs/modernizr-2.0.6.min.js"></script>
  {% block stylesheets %}{% endblock %}    
</head>

{% block body %}
    <body>
{%endblock%}
    {% block background %}        
        {% include "MbaCautiousBundle::background_image.html.twig" %}        
    {% endblock %}
<div class="nonfooter">    
    <header>
    	<div class="wrapper">    		
            <a href="{{ path('mba_cautious_homepage_homepage') }}" class="logo"><img src="/img/pic-logo.png" alt="Cautious films"></a>
    	</div><!-- wrapper -->
    </header><!-- header -->
    <div class="container" role="main">
    		<div class="wrapper">    
                    {% block aside %}{% endblock %}  
                    {% block content %}{% endblock %}
                    <nav>
                        {{ knp_menu_render('main') }}
                        {% block welcome %}{% endblock %}
                    </nav>    			
    		</div><!-- wrapper -->
    </div><!-- container -->
    <div id="bg_grid"></div>
    {% block video %}        
        {% include "MbaCautiousBundle::background_video.html.twig" %}        
    {% endblock %}
</div><!-- nonfooter -->
<footer>
	<div class="wrapper">
		<div class="copyright">                    
			copyright &#169; 2012 cautious films
		</div>
		<div class="music">
                        <a href="#" class="" id="start_stop_sound"></a>
                        {% if page.Background.imageName is not defined or page.Background.imageName | length == 0 %}
                            <a href="#" class="action pause" id="start_stop_btn"></a>
                        {% endif %}
                        
		</div>
	</div>
</footer><!-- footer -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>

<script defer src="/js/plugins.js"></script>
<script defer src="/js/script.js"></script>
{% block extra_js %}{% endblock %}
{% if globals['google-analytics'] is defined %}
<script>
window._gaq = [['_setAccount','{{ (globals['google-analytics'] is defined) ? globals['google-analytics'] : 'UA-8070376-4'}}'],['_trackPageview'],['_trackPageLoadTime']];
Modernizr.load({
  load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
});
</script>
{% endif %}

<!--[if lte IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
  
</body>
</html>
