{% extends_admingenerated "MbaCautiousAdminBundle:PromoNew:index.html.twig" %}

{% block form %}
    <form
        {% if Promo.id %}
            action="{{ path("Mba_CautiousAdminBundle_Promo_update", { 'id': Promo.id }) }}"
        {% else %}
            action="{{ path("Mba_CautiousAdminBundle_Promo_create") }}"
        {% endif %}
        method="post" {{ form_enctype(form) }}>

        {{ form_errors(form) }}

        {% block form_fieldset_Content %}
        <fieldset class="form_block form_fieldset_Content">
                <legend>{% trans from "Admin" %}Content{% endtrans %}</legend>
            <div class="form_row">
                                                <div class="form_field">
                    {% block form_title %}
                        {{ form_label(form['title'], 'Title') }}

                        {{ form_widget(form['title']) }}{{ form_errors(form['title']) }}
                    {% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field">
                    {% block form_director %}
                        {{ form_label(form['director'], 'Director') }}

                        {{ form_widget(form['director']) }}{{ form_errors(form['director']) }}
                    {% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field">
                    {% block form_client %}
                        {{ form_label(form['client'], 'Client') }}

                        {{ form_widget(form['client']) }}{{ form_errors(form['client']) }}
                    {% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field">
                    {% block form_description %}
                        {# {{ form_label(form['description'], 'Description') }} #}

                        {{ form_widget(form['description']) }}{{ form_errors(form['description']) }}
                    {% endblock %}
                </div>
                                </div>
        </fieldset>
        {% endblock %}

        {% block form_fieldset_Media %}
        <fieldset class="form_block form_fieldset_Media">
                <legend>{% trans from "Admin" %}Media{% endtrans %}</legend>
            <div class="form_row">
                                                <div class="form_field">
                    {% block form_video_url %}
                        {{ form_label(form['video_url'], 'Embed Video') }}

                        {{ form_widget(form['video_url']) }}{{ form_errors(form['video_url']) }}
                    {% endblock %}
                </div>
                                </div>
             <div class="form_row">
                 <div class="form_field">
                    {% block form_video_url1 %}
                        {{ form_label(form['image'], 'Image') }}
                        {{ form_widget(form['image']) }}{{ form_errors(form['video_url']) }}
                    {% endblock %}
                </div>                
           </div>     
        </fieldset>
        {% endblock %}

        {% block form_fieldset_Settings %}
        <fieldset class="form_block form_fieldset_Settings">
                <legend>{% trans from "Admin" %}Settings{% endtrans %}</legend>
            <div class="form_row">
                                                <div class="form_field">
                    {% block form_active %}
                        {{ form_label(form['active'], 'Active') }}

                        {{ form_widget(form['active']) }}{{ form_errors(form['active']) }}
                    {% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field">
                    {% block form_promo_date %}
                        {{ form_label(form['promo_date'], 'Promo date') }}

                        {{ form_widget(form['promo_date']) }}{{ form_errors(form['promo_date']) }}
                    {% endblock %}
                </div>
                                </div>
        </fieldset>
        {% endblock %}

        <ul class="actions">
            <li>
                 {{ form_rest(form) }}
                 <input type="submit" class="submit_button" value="{% trans from "Admingenerator" %}form.btn_save{% endtrans %}" />
            </li>
        </ul>

        {% block form_actions %}
         <ul class="form_actions actions">
                  
         <li><a class="list" href="{{ path("Mba_CautiousAdminBundle_Promo_list") }}">{% trans from "Admingenerator" %}List{% endtrans %}</a></li>

          
        </ul>
        {% endblock %}

    </form>
    {% endblock %}