{% extends "MbaCautiousBundle::layout_new.html.twig" %}
{% block aside %}
<aside class="left-side">
    <div class="archive">
        <h2>ARCHIVE</h2>
            <ul>
                {% for entry in news_archive %}
                    <li class="{% if selected_date == entry['aldates'] %}current{% endif %}"><a href="{{ path('mba_cautious_blog_index_1', { 'date': entry['aldates'] } )}}" title="{{ entry['adates'] }}">{{ entry['adates'] }}</a></li>
                {% endfor %}                                          
            </ul>
        </div><!-- archive -->
    </aside><!-- left-side -->
{% endblock %}  

{% block content %}

    <section class="content">        
            <div class="podcast">
                <aside class="meta">                    
                    <h2>{{ post.title | upper}}</h2>
                    {% if post.subtitle %}<h3>{{ post.subtitle | upper}}</h3>{% endif %}                    
                    <div class="date"><em>DATE:</em> {{ post.entryDate | date("F Y") }}</div>
                </aside><!-- meta -->
                {{ post.content | raw }}
            </div>                        

            </section><!-- content -->
{% endblock %}     

{% block welcome %} 
            <section id="welcome">    </section>                                 
{% endblock %} 